-if @user != current_user
  .relationship-block
    -if current_user.following?(@user)
      %div.unfollow-block
        = render 'shared/unfollow'
    -else
      %div.unfollow-block
        = render 'shared/follow'
-else
  = link_to 'Edit Profile', edit_user_registration_path(@user), class: 'btn btn-primary'
