.posts-wrapper.row
  -@posts.each do |p|
    .post
      .post-head
        .avatar
          = image_tag p.user.avatar.url
          =link_to p.user.username, user_path(p.user.username)
        .posted-at
          %span= time_ago_in_words(p.created_at).to_s + ' ago'
      .image-center-block
        =link_to (image_tag p.image.url(:medium), class:'img-responsive'), post_path(p)
      %p.caption
        = p.caption
