/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 20px;
}
.container {
  width: 960px;
}
.navbar-brand {
  a {
    color: #125688;
  }
}
.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}
.navbar-container {
  margin: 0 auto;
}
.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
  .post {
    background-color: #fff;
    border-color: #edeeee;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 60px;
    .post-head {
      height: 80px;
      padding: 14px 20px;
      color: #125688;
      font-size: 15px;
      line-height: 18px;
      .avatar {
        float: left;
        width: 45%;
        img {
          width: 15%;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .posted-at {
        float: right;
        margin: 15px 0;
        a {
          color: #a5a7aa;
          text-decoration: none;
        }
      }
      .name {
        display: block;
      }
    }
    .caption {
      padding: 24px;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
.form-wrapper {
  width: 47%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}
.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}
div.manage-post {
  margin: 15px;
}
.profile-page {
  margin: 0 auto 30px;
  padding: 40px 20px;
  .profile-avatar img {
    border-radius: 50%;
    width: 180px;
    margin-right: 40px;
  }
  .profile-content {
    clear: both;
    margin-top: 30px;
    .post {
      float: left;
      margin-right: 20px;
    }
    .post:last-child {
      margin-right: 0;
    }
  }
  .profile-info {
    color: #4b4f54;
    font-weight: 300;
    width: 680px;
    h3 {
      font-size: 33px;
    }
    .btn-warning {
      background: 0 0;
      border-radius: 3px;
      border: 1px solid #4090db;
      color: #4090db;
    }
    .bio {
      margin: 10px 0;
      line-height: 23px;
    }
    .stat {
      font-size: 17px;
      ul {
        list-style: none;
        padding: 0;
        li {
          float: left;
          margin-right: 20px;
          .stat {
            font-weight: 600;
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
